<%- include('partials/head') %> <%- include('partials/navbar') %>
<h1>Home Page <%= 4 + 5 + 10 %></h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Error molestias dicta
  debitis excepturi eveniet ducimus minima exercitationem odit in, pariatur
  necessitatibus dignissimos quia ullam rerum assumenda laudantium porro ex
  harum.
</p>

<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores, nam quae
  nulla ducimus, possimus itaque nihil necessitatibus mollitia ipsam cum hic vo
  luptate quaerat porro dicta? Alias eum deserunt rerum ducimus? Vel
  reprehenderit consectetur quis! Sed ratione, dolores magnam aliquam facere
  esse quam fuga nisi odit minus vitae velit recusandae inventore nihil hic quis
  beatae doloribus voluptate consequuntur impedit rerum dolorum?
</p>
<%- include('partials/footer') %>
